.git
.env
.env.*
!.env.example
vendor
node_modules
frontend
memory
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/css/filament
public/js/filament
public/fonts/filament
database/database.sqlite
docker-compose.yml
*.md
